<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    <!-- vue script -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>TripDetail</title>
</head>

<body>
    <div id="wrapper">
        <nav class="navbar has-background-warning-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/2792/2792918.png">
                    <a class="navbar-item is-size-5">ActivityPlan</a>
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                </div>
            </div>
        </nav>
        <div id="app" class="container is-widescreen">
            <!-- <section class="hero">
                <div class="hero-body">
                    <p class="title">
                        Trip's Name
                    </p>
    
                </div>
    
            </section> -->
            <section class="section">
                <div class="content">
                    <p class="title">
                        Trip: {{name}}
                    </p>
                    <div class="columns">
                        <div class="column">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <div class="field" v-for="(day, index) in trip.days" :key="index">
                                            <label class="label">&emsp; Day : {{'{{ dateformat(day.date) }}'}}</label>
                                            <div class="field" v-for="(activity, index) in day.activities" :key="index">
                                                <label class="label">&emsp;&emsp;&emsp;- Activity:{{' {{ activity.name
                                                    }}'}}</label>
                                                <label class="label" v-if="activity.time">&emsp;&emsp;&emsp;&emsp;Time:
                                                    {{'{{
                                                    timeformat(activity.time[0]) }}'}} - {{'{{
                                                    timeformat(activity.time[1])
                                                    }}'}}
                                                </label>
                                                <label class="label"> </label>
                                                <label class="label">&emsp;&emsp;&emsp;&emsp;Note: {{'{{ activity.note
                                                    }}'}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control">
                    <button @click="back()" class="button is-info">Back</button>
                </div>
            </section>

        </div>
    </div>
    <!-- <img id="bg-cal-air" src="{{ url_for('static', filename='assets/bg_1.jpg') }}" alt="" /> -->

    <script>
        const { createApp } = Vue
        createApp({
            name: "app",
            data() {
                return {
                    trip: {}
                }
            },
            mounted() {
                const data = JSON.parse(localStorage.getItem("trip"))
                const name = window.location.pathname.split('/').pop()
                this.trip = data.filter((trip) => {
                    return trip.name == name
                })[0]
                console.log(this.trip)
            },
            methods: {
                dateformat(date) {
                    var d = new Date(date)
                    if (date) {
                        return d.toDateString()
                    }
                    return ""
                },
                timeformat(obj) {
                    console.log(obj);
                    const dateObj = new Date();
                    dateObj.setHours(obj.hours);
                    dateObj.setMinutes(obj.minutes);
                    dateObj.setSeconds(obj.seconds);
                    const formattedTime = dateObj.toLocaleTimeString('en-US', { hour12: false, hour: '2-digit', minute: '2-digit' });
                    return formattedTime;
                },
                back() {
                    window.location.href = "/"
                }
            }
        }).mount('#app')
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&family=Prompt:wght@200;300;500&display=swap');

        * {
            font-family: 'Noto Sans Thai', sans-serif;
            font-family: 'Prompt', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
        }

        body {
            background-color: rgb(183, 154, 131);
            background-size: auto auto;
            background-image: linear-gradient(rgb(254, 254, 236), rgb(218, 247, 248), rgb(220, 239, 202));
            min-height: 100vh;
        }
    </style>
</body>

</html>